@import "../../mystyles.scss";

.is-sidebar-menu {
    padding: 2.5rem;
}

.columns {
    &.is-fullheight {
        min-height: calc(100vh - ( #{$navbar-height} - .75rem));
        max-height: calc(100vh - ( #{$navbar-height} - .75rem));
        height: calc(100vh - ( #{$navbar-height} - .75rem));
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        .column {
            overflow-y: auto;
        }
    }
}

// from https://codepen.io/wikiki/pen/OjdNKM